<html>
    <head>
        <link rel = stylesheet href = {{ url_for( 'static', filename = 'styles.css') }}>   
    </head>
            <title> Customer Order</title>
               
            <body>
                <h1>Customer Orders:</h1>
            <div>
              {% for customer in customers %}
                <p>
                 Order NO#{{customer.order_num}}<br>{{customer.type}} Extras:{{customer.extra_toppings}}</br>{{customer.delivery}}<br>TOTAL:£{{customer.order_total}}</br>
                </p>

            
            </div>
            {% endfor%}
            </body>
</html>